
      
        <div class="header-container">
          <mat-grid-list cols="3" rowHeight="3:1">
            <mat-grid-tile>
              <mat-card>
                <mat-icon>spa</mat-icon>
                <mat-card-title>Spa</mat-card-title>
                <mat-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                  tenetur architecto id. </mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card>
                <mat-icon>pool</mat-icon>
                <mat-card-title>Pool</mat-card-title>
                <mat-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                  tenetur architecto id. </mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card>
                <mat-icon>fitness_center</mat-icon>
                <mat-card-title>Fitness</mat-card-title>
                <mat-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                  tenetur architecto id. </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
          </div>
          <p></p>
  
          <div class="main-container">
            <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile>
                <mat-card class="example-card">
                    <img mat-card-image src="assets/images/spa1.jpeg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                      tenetur architecto id.
                      </p>
                    </mat-card-content>
                  </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card class="example-card">
                  <img mat-card-image src="assets/images/spa2.jpeg" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                    tenetur architecto id.
                    </p>
                  </mat-card-content>
                </mat-card>
          </mat-grid-tile>


              <!-- <mat-grid-tile><img src="assets/images/spa1.jpeg" alt="" class="responsive"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/spa2.jpeg" alt="" class="responsive"></mat-grid-tile> -->
            </mat-grid-list>
          </div>
          
          
      
        
        
   
  