.status-general{


    position: relative;
  
    z-index: 1;
    background: #FFFFFF;
    max-width: 550px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.status-page {
    width: 550px;
    padding: 8% 0 0;
    margin: auto;
  }

.linesection{

}

.column{

    float: left;
    width:50%;
    text-align: left;
}

.row{
    width: 100%;
}

button.mat-raised-button.mat-primary{
    width: 100%;
    background-color: rgba($color: #4CAF50, $alpha: 1.0);
    color: white;

} 

button.mat-raised-button.mat-primary:hover{
  
        background-color: rgba($color: #43A047, $alpha: 1.0);
    
} 

