
      
        <div class="header-container">
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile><img src="assets/images/grill.jpeg" alt=""></mat-grid-tile>
          <mat-grid-tile>
            <mat-card>
              <mat-card-title>Award Winning Luxury Hotel</mat-card-title>
              <mat-card-content>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                  tenetur architecto id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eum praesentium
                  rem. Voluptatem, ipsam sint. </p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, quaerat voluptatem beatae ratione
                  quo nobis cupiditate sed delectus, ad vel unde ex harum repellat optio.</p>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
        <p></p>
      </div>
        <div class="main-container">
          <mat-grid-list cols="3" rowHeight="3:1">
            <mat-grid-tile>
              <mat-card>
                <mat-icon>local_dining</mat-icon>
                <mat-card-title>Lokal Dining</mat-card-title>
                <mat-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                  tenetur architecto id. </mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card>
                <mat-icon>local_bar</mat-icon>
                <mat-card-title>Local Bar</mat-card-title>
                <mat-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                  tenetur architecto id. </mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card>
                <mat-icon>local_pizza</mat-icon>
                <mat-card-title>Local Pizza</mat-card-title>
                <mat-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                  tenetur architecto id. </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        
       
    
      
      
 
