<div class="container">

  <div class="header-container">
    <div fxFlex fxLayoutAlign="center center">
      <h1 class="heading">Gold Coast Beach & Spa Resort</h1>
    </div>
  </div>

  <div class="book-now-container">
    <div fxFlex fxLayoutAlign="center center">
      <button class="book-now-btn" mat-stroked-button color="primary" routerLink="/accomodation">
        Book Now
      </button>
    </div>
  </div>

  <main>
    <div class="container-page">
      <section id="firstSection">
        <h2>Hotel Theme</h2>
        <mat-grid-list #grid rowHeight="2:1">
          <mat-grid-tile>
            <mat-card>
              <mat-icon>hotel</mat-icon>
              <mat-card-title>Best Rooms</mat-card-title>
              <mat-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                tenetur architecto id. </mat-card-content>
            </mat-card>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-card>
              <mat-icon>pool</mat-icon>
              <mat-card-title>Pool & Spa</mat-card-title>
              <mat-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                tenetur architecto id. </mat-card-content>
            </mat-card>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-card>
              <mat-icon>wifi</mat-icon>
              <mat-card-title>Unlimited Wifi</mat-card-title>
              <mat-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                tenetur architecto id. </mat-card-content>
            </mat-card>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-card>
              <mat-icon>games</mat-icon>
              <mat-card-title>Games & Activities</mat-card-title>
              <mat-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                tenetur architecto id. </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </section>

      <section id="s2">
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile><img src="assets/images/hotel1.jpeg" alt=""></mat-grid-tile>
          <mat-grid-tile>
            <mat-card>

              <mat-card-title>Award Winning Luxury Hotel</mat-card-title>
              <mat-card-content>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                  tenetur architecto id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eum praesentium
                  rem. Voluptatem, ipsam sint. </p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, quaerat voluptatem beatae ratione
                  quo nobis cupiditate sed delectus, ad vel unde ex harum repellat optio.</p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
          </mat-grid-tile>

        </mat-grid-list>
      </section>

      <section id="our-hotel">
        <h2>Our Hotel</h2>
        <mat-grid-list cols="3" rowHeight="2:1">
          <mat-grid-tile>
            <mat-card class="example-card">

              <img mat-card-image src="assets/images/hotel3.jpeg" alt="Photo of a Shiba Inu">

            </mat-card>

          </mat-grid-tile>

          <mat-grid-tile>
            <mat-card class="example-card">
              <img mat-card-image src="assets/images/hotel2.jpeg" alt="Photo of a Shiba Inu">

            </mat-card>

          </mat-grid-tile>

          <mat-grid-tile>
            <mat-card class="example-card">

              <img mat-card-image src="assets/images/hotel4.jpeg" alt="Photo of a Shiba Inu">

            </mat-card>

          </mat-grid-tile>


        </mat-grid-list>
      </section>


      <!-- ./CONTAINER-PAGE END -->
    </div>
  </main>
  <!-- ./CONTAINER END-->
</div>