<div class="header-container">
    <mat-grid-list cols="3" class="images">
        <mat-grid-tile class="q"> 
            <mat-card class="example-card">
                <img mat-card-image src="assets/images/party.jpeg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                  tenetur architecto id.
                  </p>
                </mat-card-content>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="assets/images/weeding.jpeg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                  tenetur architecto id.
                  </p>
                </mat-card-content>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="assets/images/party2.jpeg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
                  tenetur architecto id.
                  </p>
                </mat-card-content>
              </mat-card>
        </mat-grid-tile>

    </mat-grid-list>
    
</div>


