.hotel-admin{
    margin: auto;
    font-size:5vw
    
}

.menu-tile{
    background-color: #111db88a;
    color:white
}
.menu-tile:hover{
    background-color: #c7befc8a;
   transition: all 0.5s ease-in-out;
}

.menu-2{
    background-color: rgb(218, 77, 52);
    color:white
    
}

.menu-2:hover{
    background-color: rgb(199, 163, 117);
    transition: all 0.5s ease-in-out;
}
h1{
    text-align:center ;
}

mat-icon{
    font-size: 5vw;
}