<div class="main-container">
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card class="example-card">
          <img mat-card-image src="assets/images/offers.jpeg" alt="Photo of a Shiba Inu">
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-content>
        <mat-card class="example-card">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
        tenetur architecto id.
        </p>
      </mat-card>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-icon>directions_boat</mat-icon>
                
    </mat-grid-tile>

  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card class="example-card">
          <img mat-card-image src="assets/images/offers1.jpeg" alt="Photo of a Shiba Inu">
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-content>
        <mat-card class="example-card">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
        tenetur architecto id.
        </p>
      </mat-card>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-icon>airplanemode_active</mat-icon>
                
    </mat-grid-tile>

  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card class="example-card">
          <img mat-card-image src="assets/images/offers2.jpeg" alt="Photo of a Shiba Inu">
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-content>
        <mat-card class="example-card">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis tempora non cum
        tenetur architecto id.
        </p>
      </mat-card>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-icon>directions_car</mat-icon>
                
    </mat-grid-tile>

  </mat-grid-list>
</div>